In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("freMTPL2freq.csv")

# Basic inspection
df.head(), df.shape

(   IDpol  ClaimNb  Exposure  VehPower  VehAge  DrivAge  BonusMalus VehBrand  \
 0    1.0        1      0.10         5       0       55          50      B12
 1    3.0        1      0.77         5       0       55          50      B12
 2    5.0        1      0.75         6       2       52          50      B12
 3   10.0        1      0.09         7       0       46          50      B12
 4   11.0        1      0.84         7       0       46          50      B12

     VehGas Area  Density       Region
 0  Regular    D     1217  Rhone-Alpes
 1  Regular    D     1217  Rhone-Alpes
 2   Diesel    B       54     Picardie
 3   Diesel    B       76    Aquitaine
 4   Diesel    B       76    Aquitaine  ,
 (678013, 12))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678013 entries, 0 to 678012
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   IDpol       678013 non-null  float64
 1   ClaimNb     678013 non-null  int64
 2   Exposure    678013 non-null  float64
 3   VehPower    678013 non-null  int64
 4   VehAge      678013 non-null  int64
 5   DrivAge     678013 non-null  int64
 6   BonusMalus  678013 non-null  int64
 7   VehBrand    678013 non-null  object
 8   VehGas      678013 non-null  object
 9   Area        678013 non-null  object
 10  Density     678013 non-null  int64
 11  Region      678013 non-null  object
dtypes: float64(2), int64(6), object(4)
memory usage: 62.1+ MB

In [4]:
df.describe(include="all")

,IDpol,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region
count,6.780130e+05,678013.000000,678013.000000,678013.000000,678013.000000,678013.000000,678013.000000,678013,678013,678013,678013.000000,678013
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,2,6,NaN,21
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B12,Regular,C,NaN,Centre
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166024,345877,191880,NaN,160601
mean,2.621857e+06,0.053247,0.528750,6.454631,7.044265,45.499122,59.761502,NaN,NaN,NaN,1792.422405,NaN
std,1.641783e+06,0.240117,0.364442,2.050906,5.666232,14.137444,15.636658,NaN,NaN,NaN,3958.646564,NaN
min,1.000000e+00,0.000000,0.002732,4.000000,0.000000,18.000000,50.000000,NaN,NaN,NaN,1.000000,NaN
25%,1.157951e+06,0.000000,0.180000,5.000000,2.000000,34.000000,50.000000,NaN,NaN,NaN,92.000000,NaN
50%,2.272152e+06,0.000000,0.490000,6.000000,6.000000,44.000000,50.000000,NaN,NaN,NaN,393.000000,NaN
75%,4.046274e+06,0.000000,0.990000,7.000000,11.000000,55.000000,64.000000,NaN,NaN,NaN,1658.000000,NaN
max,6.114330e+06,16.000000,2.010000,15.000000,100.000000,100.000000,230.000000,NaN,NaN,NaN,27000.000000,NaN

In [5]:
df["ClaimOccurred"] = (df["ClaimNb"] > 0).astype(int)

df["ClaimOccurred"].value_counts(normalize=True)

ClaimOccurred
0    0.949765
1    0.050235
Name: proportion, dtype: float64

In [6]:
# Remove invalid exposure
df = df[df["Exposure"] > 0]

# Cap extreme values (common actuarial practice)
df["VehAge"] = df["VehAge"].clip(upper=20)
df["DrivAge"] = df["DrivAge"].clip(lower=18, upper=90)
df["BonusMalus"] = df["BonusMalus"].clip(upper=150)

In [7]:
selected_cols = [
    "Exposure", "VehAge", "DrivAge", "BonusMalus", "Density",
    "Area", "VehBrand", "VehGas", "Region", "ClaimOccurred"
]

df[selected_cols].to_csv("underwriting_clean.csv", index=False)